body{
  background-color: gray
}
.about{
  color: blue;
}

#singleselect{
 color: yellow;
}

=================================================

body{
  background-color: gray
}
.about{
  color: blue;
}

#singleselect{
 color: yellow;
}
*{     /* this wont override id's but will override classes*/
  color: blue;
}
