body{
  background-color: gray
}
.about{
  color: blue;
}

#singleselect{
 color: yellow;
}

=================================================

body{
  background-color: gray
}
.about{
  color: blue;
}

#singleselect{
 color: yellow;
}
h2 + ul
{
border: 5px dotted blue;
}
li a[href="www.facebook.com"]{
  color: yellow
  border: 5px dotted blue;
}
