h1{
font-family: fantasy;
}

p{
  font-family: monospace;
}

======================================
h1{
font-family: fantasy;
}

p{
  font-family: monospace;
}

body{
  font-size: 10px
}
===================================
h1{
font-family: fantasy;
}

p{
  font-family: monospace;
}

body{
  font-size: 1.0  em;
}
#secondp{
font-size: 5.0em;
}
============================================
h1{
font-family: fantasy;
text-align: center;
}

p{
  font-family: monospace;
}

body{
  font-size: 1.0  em;
}
#secondp{
font-size: 5.0em;
}

================
