#part1 {
  border: 5px solid green;
}

#part2 {
  border: 5px solid yellowgreen;
}
=============================================

#part1 {
  border: 5px solid green;
  width: 50%;
  text-align: center;
}

#part2 {
  border: 5px solid yellowgreen;
}
